@{
    ViewBag.Title = "joke";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead></thead>
            <tbody>
                <tr>
                    <td>Joke</td>
                    <td> Title</td>
                   
                </tr>


                    <tr>
                        <td>(1).<p>一天，三名男子一起去小吃攤吃東西，三個人都同時點了「豬腦湯」。</p>
                            <p>過了不久，送菜的歐巴桑端著三碗「豬腦湯」，大聲喊著：「豬腦！豬腦！誰是豬腦？」</p>
                            <p>三人不約而同的回答：「我們！這裡！我們是三個豬腦……」</p></td>
                        <td>
                            豬腦
                        </td>
                    </tr>
                <tr>
                    <td>
                        (2).<p>ｘｘ個人電腦維修工作室</p>
                                <p>這天半夜有個客人打電話來問說</p>

                                <p>客人：「ｘｘ電腦維修公司嗎？」</p>

                                <p>工程師：「是的！請問客人有什麼問題？」</p>

                                <p>客人：「我的電腦不能開機。」</p>

                                <p>工程師：「您電源插頭有插嗎？」</p>

                                <p>客人：「有的。」</p>

                                <p>工程師：「請檢查一下ｐｏｗｅｒ電源插頭是否有鬆落，接觸不良。」</p>

                                <p>客人：「沒！」</p>

                                <p>工程師：「那請您拿出紙、筆來。」</p>

                                <p>客人：「喔好。稍等一下，我先找一下拿手電筒。」</p>

                                <p>工程師：「為什麼要拿手電筒？」</p>

                                <p>客人：「我家停電啊！」</p>

                                <p>工程師：「…………」</p>
                    </td>
                    <td>
                        電腦不能開機
                    </td>

                </tr>
                <tr>
                    <td>
                        (3).<p> 有一天</p>
                                <p>明明:我爸爸在公車上會讓人,你爸爸會嗎?</p>
                                <p>笑笑:不會.</p>
                                <p>明明:為什麼?</p>
                                <p>笑笑:因為,他是公車司機.</p>

                    </td>
                    <td>
                        公車司機
                    </td>
                </tr>
                <tr>
                    <td>
                        (4).<p>有一天老師問小明說</p>
                        <p>老師問你幾個問題</p>
                        <p> 你第二題不能答</p>
                        <p>然後老師問:你有幾根頭髮?</p>
                        <p>小明說:189562 </p>
                        <p>然後老師問:你怎麼知道的? </p>
                        <p>小明就說:老師 第二題不答</p>
                    </td>
                    <td>
                        第二題不答
                    </td>
                </tr>
                <tr>
                    <td>
                        (5).<p>英文課，老師說：「跟著我唸，mayonnaise(美乃滋)」</p>
                        <p>有一個學生叫做內斯，他聽完後，氣呼呼地走向門口。</p>
                        <p>老師問：「他怎麼啦？」</p>
                        <p>一名學生說：「老師，他把mayonnaise聽成『沒有內斯』了......」</p>

                    </td>
                    <td>
                        美乃滋
                    </td>

                </tr>
                <tr>
                    <td>
                        (6).<p>有一天，小明他們班在考試，</p>
                        <p>前面的考卷都還不錯，直到看到最後一張考卷，</p>
                        <p>就是小明的考卷的最後一題，老師差點昏倒，</p>
                        <p>因為題目是這樣寫的：先...再...《ex》：先吃飯，在洗澡</p>
                        <p>小明給他寫：先生，再見！</p>
                    </td>
                    <td>
                        國語考試...
                    </td>

                </tr>

                



            </tbody>
            <tfoot></tfoot>

        </table>

    </div>


</div>